In [4]:
#laod in libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#load in data and merge
dat1 = pd.read_csv('Pymaceuticals/data/Mouse_metadata.csv')
dat2 = pd.read_csv('Pymaceuticals/data/Study_results.csv')
data_merge = pd.merge(dat1, dat2, on='Mouse ID')
data_merge.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [14]:

data_merge.info()
data_merge.describe()
data_merge['Mouse ID'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Drug Regimen        1893 non-null   object
 2   Sex                 1893 non-null   object
 3   Age_months          1893 non-null   int64
 4   Weight (g)          1893 non-null   int64
 5   Timepoint           1893 non-null   int64
 6   Tumor Volume (mm3)  1893 non-null   float64
 7   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 118.4+ KB

array(['k403', 's185', 'x401', 'm601', 'g791', 's508', 'f966', 'm546',
       'z578', 'j913', 'u364', 'n364', 'y793', 'r554', 'm957', 'c758',
       't565', 'a644', 'i177', 'j989', 'i738', 'a520', 'w914', 'r811',
       'g288', 'i334', 'q610', 'd251', 'l897', 'c458', 'b742', 'b128',
       'j246', 'a411', 'j119', 'w150', 'v923', 'g316', 's710', 'l509',
       'r944', 'e662', 'u196', 'q597', 'a444', 'i557', 'r921', 'w678',
       'y449', 'a203', 'a251', 'a262', 'a275', 'a366', 'a401', 'a457',
       'a492', 'a577', 'a685', 'a699', 'a788', 'a818', 'a897', 'a963',
       'b313', 'b447', 'b487', 'b559', 'b759', 'b879', 'c139', 'c264',
       'c282', 'c302', 'c326', 'c402', 'c559', 'c580', 'c757', 'c766',
       'c819', 'c832', 'c895', 'c927', 'd133', 'd164', 'd474', 'e213',
       'e227', 'e291', 'e476', 'e584', 'f129', 'f234', 'f278', 'f345',
       'f394', 'f436', 'f545', 'f932', 'f993', 'g107', 'g296', 'g497',
       'g558', 'g570', 'g867', 'g989', 'h246', 'h333', 'h428', 'h531',
       'i386', 'i477', 'i635', 'i669', 'i901', 'j235', 'j296', 'j365',
       'j755', 'j984', 'k210', 'k382', 'k483', 'k510', 'k603', 'k754',
       'k804', 'k862', 'k894', 'l215', 'l264', 'l471', 'l490', 'l558',
       'l661', 'l700', 'l725', 'l733', 'l872', 'm133', 'm269', 'm331',
       'm550', 'm650', 'm756', 'n304', 'n482', 'n630', 'n671', 'n678',
       'n763', 'n923', 'n967', 'o287', 'o302', 'o331', 'o523', 'o562',
       'o725', 'o795', 'o809', 'o813', 'o848', 'o926', 'o973', 'p136',
       'p189', 'p310', 'p387', 'p438', 'p981', 'q119', 'q132', 'q483',
       'q511', 'q582', 'q633', 'q787', 'r107', 'r157', 'r604', 'r701',
       'r850', 's121', 's141', 's152', 's166', 's187', 's337', 's565',
       's619', 't198', 't451', 't573', 't718', 't724', 't994', 'u149',
       'u153', 'u327', 'u946', 'v199', 'v289', 'v295', 'v339', 'v409',
       'v603', 'v719', 'v764', 'v766', 'v835', 'v989', 'v991', 'w140',
       'w151', 'w167', 'w193', 'w350', 'w422', 'w540', 'w575', 'w584',
       'w697', 'w746', 'x111', 'x209', 'x226', 'x264', 'x336', 'x402',
       'x581', 'x613', 'x773', 'x822', 'x930', 'y163', 'y260', 'y478',
       'y601', 'y769', 'y865', 'z234', 'z314', 'z435', 'z581', 'z795',
       'z969'], dtype=object)

In [13]:
##display the number of unique mice ID
#check for any Mouse ID with duplicate time point
data_merge[data_merge.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1